body {
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #000;
      font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button:disabled,
button:hover:disabled{
    opacity: 0.5;
}

.hidden {
    display: none;
}

.close {
    width: 32px;
    height: 32px;
    transition: all 300ms;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    span {
        display: block;
        background: rgb(223, 221, 221);
        width: 36px;
        height: 3px;
        border-radius: 51px;
    }
    span:first-child {
        transform: translate(-2px, 5px) rotate(135deg);
    }

    span:last-child {
        transform: translate(-2px, 5px) rotate(-135deg);
        margin-top: -2px;
    }
    &:hover {
        opacity: 0.8;
    }
}

.sale-price{
    color: #ec2e31;
    text-decoration: line-through;
    margin-left: 10px;

}

.none-modal {
    transition: all 300ms;
    z-index: -10 !important;
    background: transparent !important;
    opacity: 0;
}

.visible-modal {
    animation: vmodal 300ms ease-in;
}


.notif {
    padding: 6px 20px 9px 20px;
    margin: 5px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 9999;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        height: 30px;
        border-radius: 5px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &-text{
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #eee;
    }

    &-date{
        font-weight: 300;
font-size: 9px;
line-height: 13px;

color: #fff;
    }

    .notification-title {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .notification-content {
        color: #fff;
        font-size: 15px;
    }

    &.success {
        background: linear-gradient(90deg, rgba(51, 255, 0, 0.235) -12.67%, rgba(51, 255, 0, 0) 42.5%), #282842;
    
        &::before {
            background: #33ff00;
            box-shadow: 0px 0px 4px #2ee66d;
        }

        & .notification-title {
            color: #33ff00;
        }
    }

    &.error {
        background: linear-gradient(90deg, rgba(255, 0, 0, 0.235) -12.67%, rgba(255, 0, 0, 0) 42.5%), #282842;
        &::before {
            background: #ff0000;
            box-shadow: 0px 0px 4px rgba(255, 48, 48, 0.7);
        }

        & .notification-title {
            color: #ff0000;
        }
    }

    &.warn {
        background: linear-gradient(90deg, rgba(0, 163, 255, 0.235) -12.67%, rgba(0, 163, 255, 0) 42.5%), #282842;
    
        &::before {
            background: #00a3ff;
            box-shadow: 0px 0px 4px rgba(48, 181, 255, 0.7);
        }

        & .notification-title {
            color: #00a3ff;
        }
    }

    &.info {
        background: #000;
        &::before {
            background: #c8e718;
            box-shadow: 0px 0px 4px rgba(201, 198, 42, 0.7);
        }

        & .notification-title {
            color: #c8e718;
        }
    }
}

.fade-modal {
    transition: all 500ms;
    visibility: hidden;
    transform: translate(100%);
    opacity: 0;
}

.btn-tr{
    cursor: pointer;
    transition: all 300ms;
    &:hover{
        opacity: 0.7;
    }
}


@keyframes vmodal {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fmodal {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(100%);
    }
}

